header {
    background-color: cyan;
  }
section {
    background-color: greenyellow;
}
table {
    background-color: lime;
}
li {
    background-color: yellowgreen;
}
footer {
    background-color: gold;
}